<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <title>Main</title>
</head>
<body>
    <div class = "Container">
        <nav>
            <div class="UpperNav">
                <div class = "navContainer">
                    <a href="">AvatarNFT</a>
                    <a href="">MarketPlace</a>
                    <a href="">My NFT</a> 
                </div>
    
                <div class = "loginContainer">
                    <a href="">login</a>
                    <a class="registerBox" href="">register</a>
                   
     
                </div>
            </div>
        </nav>

        <div class ="IntroBody">
            <div class="IntroP">Get Your special Avatar</div>
           
        </div>

        <div class ="TradeButtonBody">
            <div class="TradeButton" onclick="location.href='trade.html'" >
                <a > Trade</a>
               
            </div>
        </div>

        


    </div>
    
</body>
</html>