<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="../css/trade.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class = "Container">
        <nav>
            <div class="UpperNav">
                <div class = "navContainer">
                    <a href="">AvatarNFT</a>
                    <a href="">MarketPlace</a>
                    <a href="">My NFT</a> 
                </div>
    
                <div class = "loginContainer">
                    <a href="">login</a>
                    <a href="">register</a>
                </div>
            </div>
        </nav>

        <div class="Categories">
            <h1>Categories</h1>
        </div>

        <div class="card-wrapper">
            <div class="card">
                <div class = "card-banner">
                    <img src="">
                </div>
                <div class="card-body">
                    <P>카테고리1</P>
                </div>
            </div>
            <div class="card">
                <div class = "card-banner">
                    <img src="">
                </div>
                <div class="card-body">
                    <P>카테고리2</P>
                </div>
            </div>
            <div class="card">
                <div class = "card-banner">
                    <img src="">
                </div>
                <div class="card-body">
                    <P>카테고리3</P>
                </div>
            </div>
            <div class="card">
                <div class = "card-banner">
                    <img src="">
                </div>
                <div class="card-body">
                    <P>카테고리4</P>
                </div>
            </div>

        </div>

        <div class="Hot-Skins">
            <h1>Hot Skins</h1>
        </div>

        <div class="card-wrapper">

            <script>
                //자스 코드로 스킨받아와서 포문으로 띄워주기
            </script>

            <div class="card">
                <div class = "card-banner">
                    <img src="">
                </div>
                <div class="card-body">
                    <P>스킨내용1</P>
                </div>
            </div>
            <div class="card">
                <div class = "card-banner">
                    <img src="">
                </div>
                <div class="card-body">
                    <P>스킨내용2</P>
                </div>
            </div>
            <div class="card">
                <div class = "card-banner">
                    <img src="">
                </div>
                <div class="card-body">
                    <P>스킨내용3</P>
                </div>
            </div>
            <div class="card">
                <div class = "card-banner">
                    <img src="">
                </div>
                <div class="card-body">
                    <P>스킨내용4</P>
                </div>
            </div>

        </div>



    </div>
</body>
</html>